.gitattributes
bin/Debug/net5.0/Fullstack_ECommerce_.pdb
client/.env
obj/Fullstack_ECommerce_.csproj.nuget.dgspec.json
obj/Fullstack_ECommerce_.csproj.nuget.g.props
obj/Fullstack_ECommerce_.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/Fullstack_ECommerce_.assets.cache
obj/Debug/net5.0/Fullstack_ECommerce_.csproj.CopyComplete
obj/Debug/net5.0/Fullstack_ECommerce_.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/Fullstack_ECommerce_.csproj.FileListAbsolute.txt
obj/Debug/net5.0/Fullstack_ECommerce_.dll
obj/Debug/net5.0/Fullstack_ECommerce_.genruntimeconfig.cache
obj/Debug/net5.0/Fullstack_ECommerce_.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net5.0/Fullstack_ECommerce_.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net5.0/Fullstack_ECommerce_.pdb
obj/Debug/net5.0/Fullstack_ECommerce_.RazorTargetAssemblyInfo.cache
obj/Debug/net5.0/ref/Fullstack_ECommerce_.dll
obj/Debug/net5.0/staticwebassets/Fullstack_ECommerce_.StaticWebAssets.Manifest.cache
obj/Debug/net5.0/staticwebassets/Fullstack_ECommerce_.StaticWebAssets.xml
