.box {
  width: 30%;
  height: 30%;
  margin: auto;
  padding: 10px;
  display: inline-block;
  /* to make the divs appear in one line */
  text-align: center;
  /* to make the text in the center of the div */
  vertical-align: top;
  top: 50%;
  left: 50%;
  /* to make the text in the top of the div */
  /* to make the position of the div relative to the parent div */
  overflow: hidden;
  /* to make the shadow of the div */
  transition: all 0.5s ease-in-out;
  /* to make the transition of the div */
  cursor: pointer;
  /* to make the cursor change to pointer when hover the div */
}

img {
  width: 100%;
  /* takes the 100 % width of its container (.box div)*/
  height: 100%;
  /* takes the 100 % height of its container (.box div)*/
}